body
{
    margin: 0;
    padding: 0;
    background-color: black
}

/*BACKGROUND ANIME PARTICLES.JS*/
.particles-js-canvas-el
{
    position: fixed;
    top: 0;
/*    background-color: black*/
}

#accueil, #presentation
{
    height: 100vh;
    width: 100vw;
}

*
{
    color: darkgoldenrod;
}

#presentation
{
    
}