@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

body
{
    margin: 0;
    padding: 0;
    background-color: black;
    scroll-behavior: smooth;
}

*
{
    box-sizing: border-box;
    color: darkgoldenrod;
}

@font-face 
{
    font-family: 'Argesta Headline';
    src: url('fonts/Argesta Headline.otf');
}

/*NAVBAR*/

header
{
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    height: 6px;*/
    width: 100vw;
}

/*CONFIGURATION DU MENU SANDWICH*/

a
{
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links
{
    display: flex;
    list-style: none;
}
        
.nav-link a
{
    margin: .2rem;
/*    padding: 1rem .5rem;*/
}
            
.nav-link a:hover
{
    background: darkgoldenrod;
}

.menu-icon
{
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 2;
    display: block;
    margin-left: 80vw;
}
    
.menu-icon_line
{
    display: block;
    position: relative;
    background: darkgoldenrod;
    height: 2px;
    width: 20px;
    border-radius: 4px;
    z-index: 2;
}

.menu-icon_line::before, .menu-icon_line::after
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: darkgoldenrod;
    z-index: 2;
}

.menu-icon_line::before
{
    transform: translateY(-5px);
}

.menu-icon_line::after
{
    transform: translateY(5px);
}

.menu-btn
{
/*    display: none;*/
}

/*BACKGROUND ANIME PARTICLES.JS*/
.particles-js-canvas-el
{
    position: fixed;
    z-index: -1;
    top: 0;
/*    background-color: black*/
}

#accueil, #presentation, #competences, #projets, #contact
{
    height: 100vh;
    width: 100vw;
    text-align: center;
}

/*SECTION 1 - ACCUEIL*/
#accueil
{
    display: flex;
    align-items: center;
    justify-content: center;
}

svg
{
    position: relative;
    margin-top: 16em;
    width: 20em;
/*    margin: auto;*/
/*    height: 100%;*/
    
}

/*
@media (min-width: 768px) and (min-height: 1024px)
{
    svg
    {
        width: 60vw;
    }
}

@media (min-width: 1024px)
    {
    svg
    {
        width: 30vw;
    }
}
*/

.text
{
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: animate 6.5s linear 1 forwards;
}

@keyframes animate
{
    to{
        stroke-dashoffset: 0;
    }
}

#separateur
{
    position: absolute;
    width: 20em;
    margin-top: 1em;
}

/*SECTION 2 - PRESENTATION*/

#presentation
{
/*    padding-top: 10vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#presentation #lyon
{
    font-family: 'Argesta Headline';
    font-weight: 100;
    font-size: 200%;
    margin-top: -0.5em;
    margin-bottom: 2em;
}

h1
{
    font-family: 'Argesta Headline';
    font-weight: 100;
    font-size: 250%;
}

#presentation blockquote
{
    font-family: 'Alegreya sans', sans-serif;
    font-weight: 100;
    font-size: 150%;
    color: #b8b8b8;
    text-align: justify;
    width: 12.5em;
    line-height: 1.5em;
}

.quote1, .quote2
{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
/*    display: block;*/
}

.quote1
{
/*    display: block;*/
    margin-left: -0.7em;
    margin-bottom: -0.6em;
}

.quote2
{
/*    display: block;*/
    margin-left: 8.5em;
    margin-top: -0.2em;
}

/*SECTION 3 - COMPETENCES*/

.carousel {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

ul.slides {
    display: block;
    position: relative;
    z-index: 0;
    height: 80vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
/*    width: 50%;*/
/*    height: 50%;*/
/*    top: 0;*/
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}

input:checked + .slide-container .nav label 
{ 
    display: block; 
}

/*SECTION 4 - PROJETS*/

/*SECTION 5 - CONTACT*/
#contact
{
    background-image: url(img/planete.png);
    background-position: top;
    background-repeat: no-repeat;
/*    opacity: 0.4;*/
    background-size: 60em;
}

/*/////////////////////////////////////////////////////////////////////////*/

/*DROPDOWN-MENU*/
.nav-links
{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    background-color: black;
    transition: 
        opacity .1s,
        clip-path 1s;
    clip-path: circle(200px at top right);
}

.menu-btn:checked ~ .nav-links
{
    opacity: 1;
    clip-path: circle(100% at center);
}

/*////////////////////////////////////////////////////////////////////////*/


/*CONTENU DU FICHIER HEADER.SCSS*/
header
{
    z-index: 1;
    background: transparent;
    backdrop-filter: blur(3px);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100vw;
    padding: 0 10vw;
}

a
{
    text-transform: uppercase;
}

.nav-links
{
    display: flex;
    list-style: none;
}
        
.nav-link a
{
    margin: .2rem;
    padding: 1rem .5rem;
    text-decoration: none;
}
            
.nav-link a:hover
{
    background: black;
}

.menu-btn
{
    display: none;
}
    
/*CONTENU DU FICHIER DROPDOWN_MENU.SCSS*/
